body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('images/background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.logo {
    background-color: black;
    width: 200px;
    height: 200px;
}


#about .w3-modal-content {
    border-radius: 6px;
    border: 2px solid black;
}



#contact .w3-modal-content {
    border-radius: 6px;
    border: 2px solid black;
}

