/* Style for the whole website */

body,h1,h5 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.w3-bar-item {padding:20px}

/* Image Hover */
img .hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#goToTop a {
    color: black;
    text-decoration: none;
}


/* Products */
.collections p{
    padding-top: 5px;
    padding-bottom: 20px;
}

.collections {
    padding-top: 80px;
}


/* Products Modal */

/* Modal dialog filing the whole screen */

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.modal-content {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    border-radius: 0;
}

#contact .w3-modal-content {
    border-radius: 6px;
    border: 2px solid black;
}

/* Slide Images Style */
.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 50%;
}

/* Ava color is too big, so set a fixed size to it  */
.ava img {
    width: 10%;
    height: 10%;
}

.long img {
    width: 200px;
    height: 600px;
}

/* Prev Next Style */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* Number text (1/3 etc) */
.numbertext {
    color: black;
    position: absolute;
    font-size: 20px;
    padding: 15px 1px;
    top: 0;
}


/* NumbertextW will be set to white when changing to small size device*/
.numbertextW {
    color: black;
    position: absolute;
    font-size: 20px;
    padding: 15px 1px;
    top: 0;
}


/* GM collections img size */
#gmList img {
    width:150px;
    height:160px;
}


/* FLP collections img size */
#flpList img {
    width: 260px;
    height: 450px;
    padding-bottom: 10px;
}



/* TFL collections img size */

#tflList img {
    width: 260px;
    height: 450px;
    padding-bottom: 10px;
}


/* Fil-3 collections img size */

#fil3List img {
    width:230px;
    height:230px;
}


/* Others page1 collections img size */
#othersList1 img {
    width:230px;
    height:230px;
}

/* Others page2 collections img size */
#othersList2 img {
    width:300px;
    height:480px;
}

/* Others page3 collections img size */
#othersList3 img {
    width: 300px;
    height: 80px;
}


/* Footer */
footer {
    color: #f5f5f5;
    padding: 32px;
}
footer a {
    color: #f5f5f5;
}
footer a:hover {
    color: #777;
    text-decoration: none;
}

#info {
    display: block;
    padding-top: 200px;
}

#info .w3-modal-content {
    width: 300px;
    height: 100px;
    border-radius: 6px;
    border: 2px solid black;
}


/* responsive setting */
@media screen and (max-width: 992px) {
    .mySlides img {
        width: 100%;
    }

    .ava img {
        width: 20%;
        height: 20%;
    }

    .long img {
        width: 200px;
        height: 600px;
    }

    .prev,
    .next {
        color: white;
    }

    #avaPrev,
    #avaNext {
        color: black;
    }

    .numbertextW {
        color: white;
    }
}

/* loader */
.loader {
    position: absolute;
    left: 50%;
    /*top: 50%;*/
    z-index: 1;
    width: 60px;
    height: 60px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}